<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>
    <key>Label</key>
    <string>com.nickpoles.ipbeacon</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/libexec/ipbeacon.py</string>
    </array>

    <key>KeepAlive</key>
    <false/>

    <key>StartInterval</key>
    <integer>600</integer>

    <key>StandardOutPath</key>
    <string>/var/log/ipbeacon.log</string>

    <key>StandardErrorPath</key>
    <string>/var/log/ipbeacon.log</string>

</dict>

</plist>